[Desktop Entry]
Name=NVIDIA Optimus
Comment=Shows a tray icon when a compatible NVIDIA Optimus graphics card is detected
Exec=/usr/lib/optimus-applet/optimus-applet
Icon=optimus-tray-nvidia
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;
StartupNotify=false
