[Desktop Entry]
Name=MATE NVIDIA Optimus
Comment=Shows a tray icon when a compatible NVIDIA Optimus graphics card is detected
Exec=/usr/lib/mate-optimus/mate-optimus-applet
Icon=optimus-tray-nvidia
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;
StartupNotify=false
NoDisplay=true